[Desktop Entry]
Version=1.0
Type=Application
Name=PhazeBrowser
Comment=Secure VPN-Native Browser
Exec=phazebrowser
Icon=phazebrowser
Terminal=false
Categories=Network;WebBrowser;
Keywords=privacy;vpn;browser;secure;
