[ req ]
default_bits = 2048
prompt = no
default_md = sha512
distinguished_name = dn

[ dn ]
C = US
ST = Secure
L = VPN
O = Server
CN = SecureVPN-Server

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

